<div class="container">
  <h1>About Me</h1>
  <div class="section">
    <h2>Where I Am Right Now</h2>
    <ul>
      <li class="bullet"> # Learning Angular and Spring for my live project.</li>
      <li class="bullet"> # Trying to get placement opportunities.</li>
      <li class="bullet"> # Listening to famous books and their lessons.</li>
      <li class="bullet"> # Adding new skills that will help me in the future.</li>
    </ul>
  </div>
  <div class="section">
    <h2>What I Want to Become -></h2>
    <ul>
      <li class="bullet">A great and memorable achiever in the IT industry.</li>
      <li class="bullet">An individual with a sufficient bank balance.</li>
      <li class="bullet">A professional cricketer.</li>
      <li class="bullet">A smart investor in various fields.</li>
      <li class="bullet">An expert in management.</li>
    </ul>
  </div>
</div>

